._3KxrVgLSYRSAbdatw-1rt9{width:100%}._3KxrVgLSYRSAbdatw-1rt9>main{min-height:90%}

._V96JD3PEs1VXevJsy4V5{margin:0;padding:0}

._2NyXajw3HWRS22N9-62SV0{display:flex;background-color:#000}._2NyXajw3HWRS22N9-62SV0>ol{display:flex;list-style-type:none;margin:0;padding:0;width:100%}._2NyXajw3HWRS22N9-62SV0>ol>li{border-right:1px solid #fff}._2NyXajw3HWRS22N9-62SV0>ol>li:first-child{border-right:none;margin-right:4em}._2NyXajw3HWRS22N9-62SV0>ol>li:first-child>a{font-weight:bold}._2NyXajw3HWRS22N9-62SV0>ol>li:last-child{border-right:none}

._1A5fQvB9DcVlt6wmRVgR0q{display:block;color:#fff;text-align:center;padding:14px 16px;text-decoration:none}._1A5fQvB9DcVlt6wmRVgR0q:hover{background-color:#090}._1A5fQvB9DcVlt6wmRVgR0q._13fwCRRDpx1Ru6RXAVJDU{background-color:green}

.NaptN3rjGenMgLZRBODV3{color:#fff;background-color:#000;display:flex;align-items:center;margin-right:1em;padding:0 .5em;cursor:pointer}.NaptN3rjGenMgLZRBODV3.iVnnRdgIpyjErxSYM6z_6{color:green}.NaptN3rjGenMgLZRBODV3:hover{color:#090}._1bBOO6VfHVelW4biQbwP1V{display:flex;align-self:center;color:#fff;width:9em}

._1PDbAeZ0pxuBdfDNhaQjo7>p{text-align:center}

.w6RU6e-GLVq82DNgjvs2L{color:#090}._223wE9REvu1GN7J1wHXttl{color:green}

