._2qg7IMpNfTZ-PI1-DsLvlj{margin:0;padding:0}._2qg7IMpNfTZ-PI1-DsLvlj>h1{text-align:center}

._2cpjCnspgChJw-TBglp8Ni{margin:0 1em}._2cpjCnspgChJw-TBglp8Ni>table{width:100%;border-spacing:0}._2cpjCnspgChJw-TBglp8Ni>table>tbody>tr:nth-child(odd){background-color:#f2f2f2}._2cpjCnspgChJw-TBglp8Ni>table>tbody>tr>td{padding:.5em .5em}._2cpjCnspgChJw-TBglp8Ni>table>tbody>tr>td:nth-child(1){text-align:left;width:100%}._2cpjCnspgChJw-TBglp8Ni>table>tbody>tr>td>a{color:#000;text-decoration:none}

._3zp3LaOX3QiVnmDt-jhyKO>a{text-decoration:none}

._3VpcELxvoJ9opIeruTCtN1{color:blue}

._1gvcJVFQ6gIIjsMq4TF42-{color:coral}

._1vqdb1QzBpCGtdFLcvoO19{color:blue}

.q2eHSwipioHXWfZ0LHDNB{color:green}

._26WxxXOUB-iE7Au_5-qbKM{color:red}

