._3yT6nn0dWAHek2N6SF5QXD{margin:0;padding:0;height:inherit}._3yT6nn0dWAHek2N6SF5QXD>h1{text-align:center}

._3cSLiprcjAi5Lvs2aeEFvK{margin:0 1em}

._2KFXQkdnZwRv9T_ry8v-wV{margin:0 1em}._2KFXQkdnZwRv9T_ry8v-wV>table{width:100%;border-spacing:0}._2KFXQkdnZwRv9T_ry8v-wV>table>tbody>tr:nth-child(odd){background-color:#f2f2f2}._2KFXQkdnZwRv9T_ry8v-wV>table>tbody>tr>td{padding:.5em .5em}._2KFXQkdnZwRv9T_ry8v-wV>table>tbody>tr>td:nth-child(1){text-align:right}._2KFXQkdnZwRv9T_ry8v-wV>table>tbody>tr>td:nth-child(n+4){text-align:right}._2KFXQkdnZwRv9T_ry8v-wV>table>tbody>tr>td>a{color:#000;text-decoration:none}

._2ii7Zgu1sqxNuaRJsSO-41>a{text-decoration:none}

._2fEi8Rn_tXequfHt534DE_{color:coral}

._2DwOUCIbN6vX3rKaB_7DvC{color:red}

.MJg3gbAdCL83WwOKUzmgb{color:green}

._2ke1LTOZZcRvRezkFmOUn5{color:blue}

